$base: 4px;

$space-0:  0;
$space-1:  $base * 1;
$space-2:  $base * 2;
$space-3:  $base * 3;
$space-4:  $base * 4;
$space-5:  $base * 5;
$space-6:  $base * 6;
$space-8:  $base * 8;
$space-10: $base * 10;
$space-12: $base * 12;
$space-14: $base * 14;
$space-16: $base * 16;
$space-20: $base * 20;
$space-24: $base * 24;
$space-32: $base * 32;
